@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.example-card {
	margin-bottom: 2vw;
}

.example-header-image {
	background-image: url('/Kraken.jpg');
	background-size: cover;
}

.main_page {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.main_title {
	text-align: center;
	font-family: "Shantell Sans", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings: "BNCE" 0, "INFM" 0, "SPAC" 0;
	font-size: 40px;
	margin-bottom: 3vh;
}

.list_news {
	display: flex;
}

.news_left, news_right {
	width: 25vw;
}

.news_main {
	width: 50vw;
}

mat-card-actions {
	justify-content: flex-end;
}
