<div class="main_page">
	<div class="main_page_title">
		<h1 class="main_title">Самые свежие новости от Кракена</h1>
	</div>

	<div class="main_page_title_news">
		<div class="news_left">

		</div>

		<div class="news_main">
			<ng-container *ngFor="let user of users">
				<mat-card class="example-card" appearance="outlined">
					<mat-card-header>
						<div mat-card-avatar class="example-header-image"></div>
						<mat-card-title>Кракен</mat-card-title>
						<mat-card-subtitle>14/02/2025 22:11:07</mat-card-subtitle>
					</mat-card-header>

					<mat-card-content>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
					</mat-card-content>
					
					<mat-card-actions>
						<button mat-mini-fab>
							<mat-icon fontIcon="pets"></mat-icon>
						</button>
					</mat-card-actions>

				</mat-card>
			</ng-container>
		</div>

		<div class="news_right">

		</div>
	</div>

</div>









